#kavi{
    background-color: rgb(197, 235, 235);
    width: 40%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid black;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}

#kimg{
    width: 5cm;
    height: 6cm;
    margin: 5px;
    margin-left: 10px;
    border: 1px solid black;
    border-top-right-radius: 25%;
    
}

#text{
   margin-left: 20px;
    font-size: 18px;
}
#text1{
    position: relative;
    top: 0.5cm;
    border: 1px solid black;
    background-color: rgb(193, 193, 211);
    padding: 20px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.button{
    position: relative;
    top: 20px;
    color: rgb(4, 6, 6);
    border-color: blue;
    width: 120px;
    background-color: aliceblue;
    font-size: 24px;
    cursor: pointer;
    margin-left: 60px;
    font-weight: bold;
    padding: 5px;
}

.button:hover{

    transition-duration: 0.4s;
    background-color:  aquamarine;
    border-radius: 50%;
    border:2px solid red;
}
#main{
    background-color: rgb(233, 238, 238);
    width: 40%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 25%;
}
#aboutHead{
    padding-top: 20px;
    padding-left: 50px;
    font-style: italic;
}

#aboutPara{
    font-size: 18px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
    font-style: italic;
}

.aboutHome{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(1, 39, 255);
    width: 150px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    display: block;
    margin-top: 65%;
    margin-left: auto;
    margin-right: 20px;
    
}
.aboutHome:hover{
    background-color: aquamarine;
    border: 2px solid black;
    border-bottom-left-radius: 75%;
    transition-duration: 0.4s;
}

#signUp{
    background-color: rgb(233, 238, 238);
    width: 50%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 25%;

}

#signForm{
    padding-left: 35%;
    padding-top: 10px;
}

#acreate{
    font-size: 24px;
    padding-left: 20px;
    top: 30px;
}
#nameInput{
    width: 60%;
    font-size: 24px;
}
#dob{
    width: 40%;
    font-size: 24px;
}

#email{
    width: 60%;
    font-size: 24px;
}
#npass{
    width: 48%;
    font-size: 24px;
}
#cpass{
    width: 42%;
    font-size: 24px;
}

.psignup{
    width: 100px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin: 10%;
}
.psignup:hover{
    background-color: lightgreen;
    border-bottom-right-radius: 50%;
    transition-duration: 0.4s;
}
.psignup:active{
    background-color: rgb(233, 53, 53);
}
.signHome:hover{
    background-color: lightgreen;
    border-bottom-right-radius: 50%;
    transition-duration: 0.4s;
}
.signHome:active{
    background-color: rgb(233, 53, 53);
}
.signHome{
    width: 100px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin: 10%;
}